<%- include("header") -%>

<div class="box" id="heading">
    <h1><%=heading%></h1>
</div>

<div class="box">

    <% item.forEach((single) => { %>
    <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="single_item" value="<%=single._id%>" onchange="this.form.submit()">
            <p><%=single.name%></p>
        </div>
        <input type="hidden" name="hiddenList" value="<%=heading%>">
    </form>
    <% }) %>

    <form class="item" action="/" method="POST">
        <input type="text" name="n_Item" placeholder="Add Item" autocomplete="off">
        <button type="submit" name="list" value="<%=heading%>">+</button>
    </form>
</div>

<%- include("footer") -%> 