<%- include("header") -%>

<div class="box" id="heading">
    <h1><%=list_page%></h1>
</div>

<div class="box">

    <% for(var i=0; i<item.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%=item[i]%></p>
    </div>
    <% } %>

    <form class="item" action="/" method="POST">
        <input type="text" name="nItem" placeholder="Add Item" autocomplete="off">
        <button type="submit" name="list" value="<%=list_page%>">+</button>
    </form>

</div>

<%- include("footer") -%> 